body{
    background-color: hsl(0, 60%, 90%);
   
   
}

.img1{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    /* background-color: pink;
    background-image: gradient(pink, rgb(184, 166, 169)); */
    background-image: none;
    height: 400px;
    border: 1 px hsl(0, 60%, 90%);
    
}

.img2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
