body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;

}
.main{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.header2{
    float: left;
}
